%div{ :id => key, :class => 'element' }
  %select{ :name => "section[][elements][][type]", :id => "#{key}_type" }
    %option{ :value => 'deal_player_down', :selected => element.type == "deal_player_down" } Deal player down
    %option{ :value => 'deal_player_up', :selected => element.type == "deal_player_up" } Deal player up
    %option{ :value => 'deal_board', :selected => element.type == "deal_board" } Deal board
    %option{ :value => 'betting_round', :selected => element.type == "betting_round" } Betting round
    %option{ :value => 'split_hand', :selected => element.type == "split_hand" } Split hand
    %option{ :value => 'discard_hand', :selected => element.type == "discard_hand" } Discard hand
    %option{ :value => 'discard_card', :selected => element.type == "discard_card" } Discard card
    %option{ :value => 'expose_card', :selected => element.type == "expose_card" } Expose card
    %option{ :value => 'draw_card', :selected => element.type == "draw_card" } Draw card
  %span.delete
    %a{ :href => '#', :class => 'delete', :onclick => "$('##{key}').remove();"} ⊗
  .options
    - unless element.type.nil?
      = haml "elementUpdate/#{element.type}".to_sym, :locals => { :key => "element_#{Time.now.to_i}", :element => element }
:javascript
  function #{key}_updateOptions() {
    $('##{key} .options').load('/create/section/#{section_id}/element/#{element_id}/type/' + $('##{key}_type option:selected').val());
  }
  $('##{key}_type').change(function() {
    #{key}_updateOptions();
  });

- if element.type.nil? 
  = "<script>#{key}_updateOptions();</script>"