- point_id = "#{key}_config_point"
- hi_id = "#{key}_config_hi"
- lo_id = "#{key}_config_lo"

%li{ :id => key, :class => 'evaluation' }
  %select{ :name => 'evaluation[]', :id => "#{key}" }
    %option Hi
    %option Lo
    %option Point
  hand

  %div{ :id => hi_id }
    %fieldset     
      %label{ :for => "#{hi_id}_qualifier_config" } Qualifying hand:
      %select{ :class => 'config', :id => "#{hi_id}_qualifier_config", :name => "" }
        %option None
        %option Any
        %option Specific
      %div{ :id => "#{hi_id}_qualifier_config_type"}    
        %select{ :name => "" }
          - evaluation.allHands.each do |hand|
            %option #{hand}
        %span{ :id => "#{hi_id}_qualifier_specific_container" }
          %label{ :for => "#{hi_id}_qualifier_specific" } equal or better than
          %input{ :type => 'text', :id => "#{hi_id}_qualifier_specific", :name => "" }
      %div{ :id => "#{hi_id}_card_exclusivity" }
        %label{ :for => "" } 
        %select{ :name => "" }
          %option Each
          %option Any



  %div{ :id => lo_id }
    %fieldset
      %legend Allowed hands
      %ol{ :class => "plainList" }
        %li
          %label{ :class => "handName", :for => "#{lo_id}_allowed_hands_all" }
            %em All
          %input{ :type => "checkbox", :id => "#{lo_id}_allowed_hands_all" }
        - evaluation.allHands.each do |hand|
          %li
            %label{ :class => 'handName', :for => "#{lo_id}_allowed_hands_#{evaluation.hand_key(hand)}" } #{hand}
            %input{ :type => 'checkbox', :class => 'hand', :id => "#{lo_id}_allowed_hands_#{evaluation.hand_key(hand)}", :name => "section[][evaluation][][allowedHands][#{evaluation.hand_key(hand)}]" }
      %select
        - (["No"] + (2..10).to_a + ["J", "Q", "K", "A"]).each do |card|
          %option #{card}
      %span qualifier

  %div{ :id => point_id }
    %fieldset
      %select{ :name => 'section[][evaluation][][pointConfig]', :id => "#{key}_pointConfig" }
        %option Hi
        %option Lo


:javascript
  function #{key}_updateHiQualifier() {
    var selection = $('##{hi_id}_qualifier_config option:selected').val();
    if (selection == 'None') {
      $('##{hi_id}_qualifier_config_type').hide();
      $('##{hi_id}_qualifier_specific_container').hide();
    } else if (selection == 'Any') {
      $('##{hi_id}_qualifier_config_type').show();
      $('##{hi_id}_qualifier_specific_container').hide();
    } else {
      $('##{hi_id}_qualifier_config_type').show();
      $('##{hi_id}_qualifier_specific_container').show();
    }
  }

  function #{key}_updateEvaluation() {
    var selection = $('##{key} option:selected').val();
    var isPointEnabled = selection == 'Point';
    var isHiEnabled = selection == 'Hi';
    var isLoEnabled = selection == 'Lo';

    if (isPointEnabled) {
      $('##{point_id}').show();
      $('##{hi_id}').hide();
      $('##{lo_id}').hide();

    } else if (isHiEnabled) {
      $('##{point_id}').hide();
      $('##{hi_id}').show();
      $('##{lo_id}').hide();
     
    } else if (isLoEnabled) {
      $('##{point_id}').hide();
      $('##{hi_id}').hide();
      $('##{lo_id}').show();
    }
  }

  $('##{lo_id}_allowed_hands_all').change(function() {
    var checkbox = $('##{lo_id}_allowed_hands_all');
    var isAllChecked = checkbox.prop('checked');
    $('##{lo_id} .hand').prop('checked', isAllChecked);
  });

  $('##{key}').change(function() {
    #{key}_updateEvaluation();
  });

  $('##{hi_id}_qualifier_config').change(function() {
    #{key}_updateHiQualifier();
  });

- if evaluation.type.nil? 
  <script>
  #{key}_updateEvaluation();
  #{key}_updateHiQualifier();
  </script>