%form{ :action => "#{action}", :method => "#{method}" }
  %div
    %h3 Details
    %label{ :for => 'name', :id => 'name' } Name
    %input{ :type => 'text', :name => 'name', :id => 'name', :value => "#{game.name}" }

  %div
    %label{ :for => 'abbreviation' } Abbreviation
    %input{ :type => 'text', :name => 'abbreviation', :id => 'abbreviation', :value => "#{game.abbreviation}" }

  %div
    %label{ :for => 'alternative_names' } Alternative Names
    %input{ :type => 'text', :name => 'alternative_names', :id => 'alternative_names', :value => "#{game.alternative_names}" }
    
  %div
    %h3 Structure
    %label{ :for => 'ante' } Ante
    %input{ :type => 'checkbox', :name => 'structures[ante]', :id => 'ante', :checked => game.structures.include?("ante") }
    %label{ :for => 'fixed_limit' } Fixed-limit
    %input{ :type => 'checkbox', :name => 'structures[fixed_limit]', :id => 'fixed_limit', :checked => game.structures.include?("fixed_limit") }
    %label{ :for => 'pot_limit' } Pot-limit
    %input{ :type => 'checkbox', :name => 'structures[pot_limit]', :id => 'pot_limit', :checked => game.structures.include?("pot_limit") }
    %label{ :for => 'no_limit' } No-limit
    %input{ :type => 'checkbox', :name => 'structures[no_limit]', :id => 'no_limit', :checked => game.structures.include?("no_limit") }

  #evaluation
    %h3 Evaluation
    %ul
    %a{ :href => '#', :class => 'add button', :onclick => "appendEvaluation();" } Add


  #sections_container
    %h3 Sections
    %ol
      - game.sections.each.with_index do |section, i|
        = haml :section, :locals => { :id => "#{i}", :key => "section_#{i}", :section => section }
    %a{ :href => '#', :class => 'add button', :onclick => "appendSection();" } Add section

  %input{ :type => 'submit', :class => 'save button', :value => 'Save' }
