%label{ :for => "#{key}_value", :class => 'title' } Split into
%select{ :name => 'section[][elements][][value]', :id => "#{key}_value" }
  - (2..10).each do |i|
    %option{ :selected => element.value.to_i == i }= i
hands
%div{ :id => "#{key}_value_option_container" }
  %span With a distribution of
  %ul
    - unless element.type.nil?
      - element.options['handSize'].each do |size|
        %li
          %select{ :name => 'section[][elements][][handSize][]' }
            - (1..10).each do |i|
              %option{ :selected => size.to_i == i }= i
:javascript
  function update_#{key}() {
    var target = $('##{key}_value option:selected').val();
    for (var j = $('##{key}_value_option_container li').length; j >= target; j--) {
      $('##{key}_value_option_container li').last().remove();
    }
    for (var i = $('##{key}_value_option_container li').length; i < target; i++) {
      $('##{key}_value_option_container ul').append(
        "<li><select name='section[][elements][][handSize][]'><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option></select> cards</li>"
      );
    }
  }
  $('##{key}_value').change(function() {
    update_#{key}();
  });
- if element.type.nil?
  = "<script>update_#{key}();</script>"
